.mainHeader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  margin: auto;
  width: 40%;
}

#homeicon {
  height: 35px;
  width: 35px;
}

.submitBtnCreate {
  margin: auto;
}

.submitBtnDelete {
  max-width: auto;
}

.deleteHeader {
  text-align: center;
}

.borderBox {
  padding: 20px;
  border: 1px solid;
  margin-top: 25px;
}

h2 {
  text-align: center;
}

.orderDesc {
  text-align: center;
}
